{% extends 'base.html' %}

{% block meta %}
    <title>Add Skill - {{ name }}</title>
{% endblock meta %}

{% block content %}

<main>
    <section class="skills-section">
        <div class="container">

            <div class="skills-heading">
                <p class="section-kicker">Add New Skill</p>
                <h1>Add Skill</h1>
            </div>

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">

                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>

                        {{ field }}

                        {% if field.errors %}
                            <div class="form-error">
                                {{ field.errors }}
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}

                <button type="submit" class="button">
                    Tambah Skill
                </button>

                <a href="{% url 'main:show_skill' %}"class="button button-secondary">
                    Batal
                </a>

            </form>

        </div>
    </section>
</main>

{% endblock content %}